.content-result{
    font-family: sans-serif;
    font-size: 14px;
    color: rgb(122, 122, 122);
    margin-left: 20px;
    margin-bottom: 30px;
}

.result-label{
    margin-top: 20px;
}

.result-value{
    font-size: 16px;
    font-weight: bold;
}

.error-message ion-item{
    font-family: sans-serif;
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.content ion-icon{
    font-family: sans-serif;
    font-weight: 800;
    font-size: 22px;
}
