ion-button {
    --background: #ffffff;
    --background-activated: #ffffff;
    --background-activated-opacity: 1;
    --background-focused: #ffffff;
    --background-focused-opacity: 1;
    --background-hover: #ffffff;
    --background-hover-opacity: 1;
    --border-color: #dddddd;
    --border-radius: 0px;
    --border-style: solid;
    --border-width: 1px;
    --box-shadow: 0px 0px;
    --color: #000000;
    --color-activated: #000000;
    --color-focused: #000000;
    --color-hover: #000000;
    --opacity: 1;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;
    --ripple-color: #1e1e1e;
    --transition: background-color 15ms linear;
    text-transform: none;
}

ion-grid{
    height: 100%;
}

ion-icon {
    color: #8a05be;
    font-size: 24px;

}
ion-item{
    --color:  #6e0597c0;
  }

.top{
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
}

.bottom{
    padding-top: 20px;
    padding-left: 10px;
    text-align: left;
}

.nav-button{
    height: 85px;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
